* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 10px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

form {
    padding: 20px;
    max-width: auto;
    max-height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgb(93, 93, 93);
    background-color: white;
}

div {
    font-size: 18px;
    margin-left: 10px;
}

label {
    font-weight: 200;
    /* font-size: 18px; */
    color: rgb(151, 151, 151);
    margin-bottom: 10px;
}

input {
    margin-left: 30px;
    width: 220px;
    height: 40px;
    /* align-items: center; */
    border-radius: 9px;
    border-color: gray;
}

button {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    max-width: auto;
    margin-bottom: 20px;
}